<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>HealthTRAX - Edit Doctor</title>

    <!-- bootstrap styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <%include ../partials/head.ejs%>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand" href="/" id="header-title"><h1>Health<span id="trax">TRAX</span></h1></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/sessions/user/<%=user_id%>"><i class="far fa-hand-point-left"></i>Back</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="form-container">
      <div class="registration">
        <form action="/sessions/doctor/<%=user_id%>/<%=doctor._id%>?_method=PUT" method="POST">
          <fieldset>
            <legend>Edit <%=doctor.name%></legend>

            <label for="type">TYPE</label>
            <input type="text" name="type" value="<%=doctor.type%>" class="input-style"/>

            <label for="name">NAME</label>
            <input type="text" name="name" value="<%=doctor.name%>" class="input-style"/>

            <label for="address">ADDRESS</label>
            <input type="text" name="address" value="<%=doctor.address%>" class="input-style"/>

            <label for="phone">PHONE</label>
            <input type="text" name="phone" value="<%=doctor.phone%>" class="input-style"/>

            <label for="last_visit">LAST DATE VISITED</label>
            <input type="text" name="last_visit" value="<%=doctor.last_visit%>" class="input-style"/>

            <label for="next_visit">NEXT DATE TO VISIT</label>
            <input type="text" name="next_visit" value="<%=doctor.next_visit%>" class="input-style"/>

            <label for="url">WEBSITE</label>
            <input type="text" name="url" VALUE="<%=doctor.url%>" class="input-style"/>

            <label for="note">NOTES</label>
            <textarea name="note"><%=doctor.note%></textarea>

            <input type="submit" value="Submit Changes">
            </form>

          </fieldset>
      </div>
    </div>






  </body>
</html>
