<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ../partials/head.ejs%>
    <title></title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
      <div class="welcome">
        <h1 id="user-welcome">Welcome,  <%=currentUser.username%>!</h1>

        <a href="/sessions/user/<%=currentUser._id%>/newdoctor" class="nav-links">Add New Doctor</a>

        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" id="delete"/>
        </form>
      </div>
    </nav>

    <!-- want to go through user doctor array and show the doctors names -->
    <div class="doc-heading">
      <h4 class="doc-header"><i class="fas fa-user-md"></i>Your Doctors</h4>
    </div>

    <div class="all-doctors">
      <% for(let i = 0; i< currentUser.doctors.length; i++) { %>
        <div class="doctor">
          <div class="doc-content1">
            <h3 class="doc-info"> <%=currentUser.doctors[i].name%></h3>
          </div>
          <div class="doc-content2">
            <h3 class="doc-info"> <%=currentUser.doctors[i].type%></h3>
          </div>
          <div class="more-details-doc">
            <a href="/sessions/doctor/<%=currentUser._id%>/<%=currentUser.doctors[i]._id%>" id="details">View Details</a>

          </div>
        </div>
      <% } %>
    </div>


  </body>
</html>
