<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ../partials/head.ejs%>
    <title></title>
  </head>
  <body>
    <h1>USER PAGE</h1>

    <h1>Welcome <%=currentUser.username%></h1>

    <a href="/sessions/user/<%=currentUser._id%>/newdoctor">Add a new doctor</a>

    <!-- want to go through user doctor array and show the doctors names -->

    <h4>Doctors</h4>
    <% for(let i = 0; i< currentUser.doctors.length; i++) { %>
      <div class="doctor">
        <h4><a href="/sessions/doctor/<%=currentUser._id%>/<%=currentUser.doctors[i]._id%>"><%=currentUser.doctors[i].name%></a></h4>
      </div>
    <% } %>



    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Logout"/>
    </form>

  </body>
</html>
